<div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-primary btn-small btn-block" routerLink="clientes"> <i class="circle user icon"></i>Administrar clientes</button>
          </div>
      <div class="col-sm">
        <button type="button" class="btn btn-danger btn-small btn-block" routerLink="nuevafactura"> <i class="circle plus icon"></i> Nueva factura</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-info btn-small btn-block" routerLink="listafacturas"><i class="circle edit icon"></i>Facturas</button>
      </div>
      
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>