<div class="example-loading-shade"
      *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<form class="ui form ui segment" id="add-form" [formGroup]="editProveedorForm" (ngSubmit)="onProveedorEditFormSubmit()" style="margin: 0px auto;">
    <h4 class="ui dividing header">Editar proveedor</h4>
    <div class="field" *ngFor="let item of proveedorData">
          <label>Nombre proveedor</label>
          <div class="field">
            <input type="text" formControlName="nombre_proveedor"  [(ngModel)]="item.nombre_proveedor">
          </div>
          <label>Dirección</label>
          <div class="field">
            <input type="text" formControlName="direccion"  [(ngModel)]="item.direccion">
          </div>
          <label>Teléfono</label>
          <div class="field">
            <input type="text" formControlName="telefono" maxlength="10"  [(ngModel)]="item.telefono">
          </div>
          
      </div>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onClose()" style="margin-right: 10px">Close</button>
      <button class="btn btn-info" [disabled]="!editProveedorForm.valid" type="submit">Actualizar datos</button>
</form>

