<div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-danger btn-small btn-block" routerLink="tipoempleados"> <i class="circle edit icon"></i>Tipo empleado</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-info btn-small btn-block" routerLink="listaempleados"><i class="circle user icon"></i>Lista de empleados</button>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>