.login,
.image {
    min-height: 100vh
}

.bg-image {
    background-image: url('https://image.freepik.com/foto-gratis/cabezas-vacas-holstein-blancas-negras-alimentandose-pasto-establo-holanda_1150-12762.jpg');
    background-size: cover;
    background-position: center center
}
