<div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-small btn-block" routerLink="animal"><i class="cicle edit icon"></i> Administra animales</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-danger btn-small btn-block" routerLink="raza"> <i class="cicle edit icon"></i> Administrar razas</button>
      </div>
      <!-- <div class="col-sm">
        <button type="button" class="btn btn-info btn-small btn-block"> Producción</button> 
      </div> -->
      <div class="col-sm">
          <button type="button" class="btn btn-info btn-small btn-block" routerLink="parcela"> <i class="cicle edit icon"></i> Administrar parcela</button> 
      </div>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>