<section class="content-header">
  <h1>
    Proveedores
    <small>gestión de proveedores</small>
  </h1>
  <ol class="breadcrumb">
    <li><a routerLink="dashboard"><i class="fa fa-user"></i> Home</a></li>
    <li class="active">Proveedores</li>
  </ol>
</section>
<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="ui form ui segment" [formGroup]="proveedorForm" (ngSubmit)="onFormSubmit(proveedorForm.value)"
        style="margin: 0px auto;">
        <h4 class="ui dividing header">Administración de proveedores</h4>
        <div class="field">
          <label>Nombre proveedor</label>
          <div class="field">
            <input type="text" formControlName="nombre_proveedor" placeholder="Ingrese nombre del proveedor">
            <mat-error>
              <span
                *ngIf="!proveedorForm.get('nombre_proveedor').valid && proveedorForm.get('nombre_proveedor').touched">Por
                favor ingrese un dato</span>
            </mat-error>
          </div>

          <label>Dirección</label>
          <div class="field">
            <input type="text" formControlName="direccion" placeholder="Dirección">
            <mat-error>
              <span *ngIf="!proveedorForm.get('direccion').valid && proveedorForm.get('direccion').touched">Por favor
                ingrese un dato</span>
            </mat-error>
          </div>

          <label>Teléfono</label>
          <div class="field">
            <input type="text" formControlName="telefono" maxlength="10" placeholder="09xxxxxxxx">
            <mat-error>
              <span *ngIf="!proveedorForm.get('telefono').valid && proveedorForm.get('telefono').touched">Por favor
                ingrese un dato</span>
            </mat-error>
          </div>

        </div>
        <button class="btn btn-info" [disabled]="!proveedorForm.valid" type="submit">Guardar datos</button>
      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-raised-button style="background-color: #00B5AD; color: white;" data-toggle="modal"
            data-target="#modal-default"><i class="ion-plus-circled"></i> Agregar proveedor</button>
          <span class="spacer"></span>
          <mat-form-field class="search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
          </mat-form-field>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id_proveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id_proveedor</th>
            <td mat-cell *matCellDef="let data"> {{data.id_proveedor}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let data"> {{data.nombre_proveedor}} </td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
            <td mat-cell *matCellDef="let data"> {{data.direccion}} </td>
          </ng-container>
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> telefono </th>
            <td mat-cell *matCellDef="let data"> {{data.telefono}} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Opciones </th>
            <td mat-cell *matCellDef="let data">
              <div class="ui buttons">
                <button class="ui small teal button" (click)="editProveedor(data.id_proveedor)">Editar</button>
                <div class="or" data-text="o"></div>
                <button class="ui small red button" (click)="deleteProveedor(data.id_proveedor)">Eliminar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]>
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
